[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pyinstaller = "*"

[packages]
ffmpeg-python = "*"
pysubs2 = "*"
pyqt5 = "==5.9.2"
qdarkstyle = "*"
simpleaudio = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
